language: node_js
node_js:
  - 8.10

sudo: false

install: true

script:
  - pwd
  - npm install async
  - cd node_modules
  - ls -al
  - cd ../
  - ls -al

after script:
  - pwd
  - ls -al
  - mkdir codedeploy_artifact
  - zip -r csye6225-lambda-${TRAVIS_JOB_NUMBER}.zip node_modules README.md
  - ls -al
  - mv csye6225-lambda-${TRAVIS_JOB_NUMBER}.zip codedeploy_artifact/
  - ls -al
  - pwd
  - cd codedeploy_artifact
  - ls -al
  - pwd
  - cd ..
  - pwd
  - ls -al

deploy:
  - provider: s3
    local_dir: codedeploy_artifact
    bucket: $s3_bucket
    region: us-east-1
    skip_cleanup: true
    access_key_id: $access_key_id
    secret_access_key: $secret_access_key
    on:
      branch: assignment07-08